{% extends "base.html" %}

{% block title %}{{ user['name'] }}'s Movies - MovieWeb App{% endblock %}

{% block content %}
    <h1 class="my-4">{{ user['name'] }}'s Favorite Movies</h1>
    <ul class="list-group">
        {% for movie_id, movie in movies.items() %}
            <li class="list-group-item">
                <strong>{{ movie['name'] }}</strong> ({{ movie['year'] }}) - Rated: {{ movie['rating'] }}
                <a href="{{ url_for('update_movie', user_id=user_id, movie_id=movie_id) }}" class="btn btn-warning btn-sm float-right ml-2">Edit</a>
                <a href="{{ url_for('delete_movie', user_id=user_id, movie_id=movie_id) }}" class="btn btn-danger btn-sm float-right">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('add_movie', user_id=user_id) }}" class="btn btn-primary mt-4">Add New Movie</a>
{% endblock %}
